


<mat-toolbar>
    <button id="menusecciones" mat-icon-button class="example-icon" [matMenuTriggerFor]="seccion">
        <mat-icon>menu</mat-icon>
      </button>


      <!-- menu que se activa en dispositivos pequeños -->
    <mat-menu #seccion="matMenu">
          <button mat-menu-item routerLink="/inicio">Inicio</button>
          <button mat-menu-item [matMenuTriggerFor]="producto">Productos</button>

    </mat-menu>

    <span>My Application</span>

    <button id="menuinicio" mat-button routerLink="/inicio">Inicio</button>

    <button id="menuproductos" mat-button [matMenuTriggerFor]="producto">Productos</button>
<!-- Menu desplegable para productos -->
    <mat-menu #producto="matMenu">
        <!-- catalogo de productos -->
        <button mat-menu-item routerLink="/producto">producto</button>
        <button mat-menu-item routerLinnk="/rareza">Iniciar sesion</button>
    </mat-menu>

    <span class="example-spacer"></span>
<!-- opciones de autenticación -->
    <button mat-menu-item [matMenuTriggerFor]="usuario"><mat-icon>account_circle</mat-icon></button>
    <mat-menu #usuario="matMenu">
        <button mat-menu-item routerLink="/producto">registro</button>
        <button mat-menu-item routerLinnk="/rareza">Iniciar sesion</button>
    </mat-menu>

  </mat-toolbar>

